<html>

<head>
    <script src="https://kit.fontawesome.com/8143662b1f.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="./style.css">
</head>

<body>
    <footer>
        <div class="row">
            <div class="col">
                <img src="logo.png" class="logo">
                <p>hello something</p>
            </div>
            <div class="col">
                <h3>Office <div class="underline"><span></span></div></h3>
                <p>austine address</p>
                <p>whitehiousy</p>
                <a href="mailto:austine" class="email-id">austine@filladdres.com</a>
               <h4> <a href="tel:austi">No number</a> </h4>
            </div>
            <div class="col">
                <h3>Links <div class="underline"><span></span></div></h3>
                <ul>
                    <li><a href="#">home</a></li>
                    <li><a href="#">aboutme</a></li>
                    <li><a href="#">contact</a></li>
                    <li><a href="#">work</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Newletter <div class="underline"><span></span></div></h3>
                <form>
                    <i class="far fa-envelope"></i>
                    <input type="email" placeholder="Enter your Email ID" required>
                    <button type="submit"><i class="fas fa-arrow-right"></i></button>
                </form> 
                <div class="social-icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-github"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-whatsapp"></i>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright">Austine © 2021 - All Rights Reserved</p>
    </footer>
</body>

</html>