.app {
    height: 100vh;

    .sections {
        width: 100%;
        height: calc(100vh - 70px);
        position: relative;
        top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        >* {
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
        }
        footer {
            width: 100%;
            position: absolute;
            height: 50%;
            background: linear-gradient(to right, #00093c, #2d0d00);
            color: #fff;
            padding: 20px 0 5px;
            border-top-left-radius: 125px;
            font-size: 13px;
            line-height: 20px;
        }
    }
}